{{ define "New" }}
  {{ template "Header" }}
  <main role="main" class="container">
      <h1 class="mt-5">Yeni Personel Ekleme Sayfası</h1>
      <p class="lead">Bu sayfadan personel ekleme işlemi yapabilirsiniz.</p>
    </main>
    <footer class="footer mt-3">
      <div class="container">
    <form method="POST" action="insert">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Ad giriniz">
    </div>
    <div class="form-group">
        <label for="name">City Number</label>
        <input type="text" class="form-control" name="city" placeholder="Şehir numarası giriniz">
    </div>
      <input type="submit" class="btn btn-primary" value="Personeli Kaydet" />
    </form>
    </div>
    </footer>
  {{ template "Footer" }}
{{ end }}